{% extends 'base.html' %}
{% block title %}Category List{% endblock title %}

{% block content %}
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for groupname in expense_categories %}
            <tr>
                <div>
                    <td><a href="{% url 'category_list' %}">{{ groupname.name }}</a></td>
                    <td><a href="{% url 'category_list' %}">{{ groupname.receipts.all|length }}</a></td>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
</body>

</html>
