{% extends 'base.html' %}
{% block title %}Receipt List{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list_view %}
            <tr>
                <td><a href="{% url 'home' %}">{{ receipt.vendor }}</a></td>
                <td><a href="{% url 'home' %}">{{ receipt.total }}</a></td>
                <td><a href="{% url 'home' %}">{{ receipt.tax }}</a></td>
                <td><a href="{% url 'home' %}">{{ receipt.date |date:"m/d/y" }}</a></td>
                <td><a href="{% url 'home' %}">{{ receipt.category.name }}</a></td>
                <td><a href="{% url 'home' %}">{{ receipt.account.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
</body>

</html>
